# === .env.example ===
# Copy this file to `.env` and replace placeholder values with YOUR ACTUAL CONFIGURATION.
# NEVER commit your real `.env` file to Git (keep it secret!).

# --- Database Cluster Example (MongoDB Atlas) ---
# Replace with your own cluster connection string from MongoDB Atlas.
# You don't need to touch this url. you just need to configure DB_CONFIGURATION.
# But if you need to change url than before removing this url you need to understand how this url modified so you can modify your own url

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=<appname>

# Replace placeholders with actual values:
# This is DB_CONFIGURATION 👇👇
USER_NAME=Your_username
PASSWORD=Your_password
DB_NAME=Your_database_name
CLUSTER=Your_cluster_name
APP_NAME=Your_app_name
PORT=5172
JWT_SECRET=Your_JWT_Secret